body {
  background-image: url("C:\Users\Anwesha\OneDrive\Desktop\My_projects\Quiz_App\Quiz_app_Frontend\myapp\src\quiz.svg");
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh; /* Changed from height to min-height to ensure full content display */
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 1px 1px 2px #333;
  background-color: whitesmoke;
  background-clip: border-box;
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-bottom: 30px;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: black;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 1px 1px 2px #333;
}

button:hover {
  background-color: grey;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background: #fff;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul li h2 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

ul li .options-container { /* Added a class for the bordered container */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
}

ul li ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0;
}

ul li ul li {
  background: #f9f9f9;
  margin: 5px 0;
  padding: 8px;
  border-radius: 4px;
}

ul li p {
  margin: 10px 0 0 ;
  font-weight: bold ;
  color: #007BFF;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  color: red;
  font-weight: bold;
}

.quiz-container {
  width: 300px; /* Set a fixed width for the quiz container */
  background: #fff;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.options-container {
  width: 95%; /* Fill the entire width of the quiz container */
  border-radius: 8px;
  padding: 10px;
}